# Don't list directory contents
Options -Indexes

# Disable script execution for dangerous extensions
<FilesMatch "\.(deb|phps|phtml|php)$">
    Require all denied
</FilesMatch>

<FilesMatch "^.*\.(php)$">
    Require all denied
</FilesMatch>

<FilesMatch "\.(htpasswd|ini|phps|fla|psd|log|sh)$">
    Require all denied
</FilesMatch>
